pytest==9.0.3
pytest-cov==7.1.0
pytest-benchmark==5.2.3
ruff==0.15.15
pre-commit==4.6.0
bump-my-version==1.3.0
deepdiff==8.6.2
licensecheck==2025.1.0
mypy==2.1.0
uv==0.11.19
pylint==4.0.5
moto==5.2.1
