name: Build and Release Conda Package

on:
  workflow_dispatch:
  push:
    branches:
      - "release/*"

jobs:
  build-linux:
    runs-on: ubuntu-latest

    # Configure steps
    steps:
    # Step 1: Checkout code in the current branch
    - name: Checkout code
      uses: actions/checkout@v4

    # Step 2: Get release version from branch name
    - name: Get Release Version
      id: get_version
      run: |
        BRANCH_NAME=${GITHUB_REF##*/}
        RELEASE_VERSION=$(echo $BRANCH_NAME | sed 's/release\///')
        echo "The release version is $RELEASE_VERSION"
        echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV

    # Step 3: Check if the release already exists
    - name: Check if release exists
      id: check_release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        RELEASE_INFO=$(gh release view ${{ env.RELEASE_VERSION }} --json isDraft,publishedAt --jq '.isDraft, .publishedAt' || echo "not_found")
        if [[ "$RELEASE_INFO" == "not_found" ]]; then
          echo "No release with the tag ${{ env.RELEASE_VERSION }} found."
          echo "RELEASE_DOES_NOT_EXIST=true" >> $GITHUB_ENV
        else
          echo "RELEASE_DOES_NOT_EXIST=false" >> $GITHUB_ENV
          RELEASE_STATE=($RELEASE_INFO)
          IS_DRAFT=${RELEASE_STATE[0]}
          IS_PUBLISHED=${RELEASE_STATE[1]}
          echo "IS_DRAFT=$IS_DRAFT" >> $GITHUB_ENV
          echo "IS_PUBLISHED=$IS_PUBLISHED" >> $GITHUB_ENV
        fi

    # Step 4: Stop workflow if an official release already exists
    - name: Stop if official release exists
      if: env.RELEASE_DOES_NOT_EXIST == 'false' && env.IS_PUBLISHED == 'true'
      run: |
        echo "An official release with the tag ${{ env.RELEASE_VERSION }} already exists. Stopping workflow."
        exit 1

    # Step 5: Set up Miniconda
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: true
        auto-activate-base: true
        auto-update-conda: true
        channels: conda-forge, defaults
        python-version: 3.12

    # Step 6: Install conda-build
    - name: Install dependencies
      run: |
        conda install conda-build conda-verify -c conda-forge -y

    # Step 7: Build the conda package with a specified output folder
    - name: Build conda package
      run: |
        OUTPUT_DIR="./release-package"
        conda build conda --output-folder $OUTPUT_DIR
        echo "OUTPUT_DIR=$OUTPUT_DIR" >> $GITHUB_ENV

    # Step 8: Index the Conda Channel Directory
    - name: Index Conda Channel Directory
      run: |
        conda index ${{ env.OUTPUT_DIR }}
        echo "Indexed the output directory to make it a valid conda channel."

    # Step 9: Archive the Conda channel directory
    - name: Archive the Conda Channel
      run: |
        ZIP_NAME="pyThermoNDT_${{ env.RELEASE_VERSION }}_release_package.zip"
        zip -r "$ZIP_NAME" ${{ env.OUTPUT_DIR }}
        echo "ARCHIVED_CHANNEL=$ZIP_NAME" >> $GITHUB_ENV

    # Step 10: Delete existing draft release if it exists
    - name: Delete existing draft release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: env.RELEASE_DOES_NOT_EXIST == 'false' && env.IS_DRAFT == 'true'
      run: |
       gh release delete ${{ env.RELEASE_VERSION }} --yes

   # Step 11: Create a new draft release
    - name: Create Draft Release
      if: env.RELEASE_DOES_NOT_EXIST == 'true' || env.IS_DRAFT == 'true'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ env.RELEASE_VERSION }}
        name: pyThermoNDT ${{ env.RELEASE_VERSION }}
        files: ${{ env.ARCHIVED_CHANNEL }}
        generate_release_notes: true
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}