name: Build and Release Conda Package

on:
  workflow_dispatch:
  push:
    branches:
      - "release/*"

jobs:
  build-linux:
    runs-on: ubuntu-latest

    # Configure steps
    steps:
    # Step 1: Checkout code in the current branch
    - name: Checkout code
      uses: actions/checkout@v4

    # Step 2: Set up Miniconda
    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: true
        auto-activate-base: true
        auto-update-conda: true
        channels: conda-forge, defaults
        python-version: 3.12

    # Step 3: Install conda-build
    - name: Install dependencies
      run: |
        conda install conda-build conda-verify -c conda-forge -y

    # Step 4: Build the conda package
    - name: Build conda package
      run: |
        conda build conda

    # Step 5: Locate the output package
    - name: Locate the built package
      id: find_package
      run: |
        PACKAGE_PATH=$(conda build conda --output)
        echo "The package is located at $PACKAGE_PATH"
        echo "PACKAGE_PATH=$PACKAGE_PATH" >> $GITHUB_ENV

    # Step 6: Get release version from branch name
    - name: Get Release Version
      id: get_version
      run: |
        BRANCH_NAME=${GITHUB_REF##*/}
        RELEASE_NAME=$(echo $BRANCH_NAME | sed 's/release\///')
        echo "The release version is $RELEASE_NAME"
        echo "RELEASE_NAME=$RELEASE_NAME" >> $GITHUB_ENV

    # Step 7: Create or update GitHub Release and upload built package
    - name: Upload to GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.RELEASE_NAME }}
        release_name: ${{ env.RELEASE_NAME }}
        files: ${{ env.PACKAGE_PATH }}
        draft: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}