name: Build

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to build (branch, tag, or commit SHA)'
        required: false
        type: string
        default: ''
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        # Step 1: Checkout code in the specified release branch
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ inputs.ref }}

        # Step 2: Setup uv for building the package
      - name: Setup uv
        uses: astral-sh/setup-uv@v7.1.6
        with:
          version-file: requirements_dev.txt
          python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
          activate-environment: true
          save-cache: false # Disable cache for pip build

        # Step 3: Build the package
      - name: Build package
        id: build
        run: |
          uv build --no-sources .
          echo "Successfully built pythermondt from ref ${{ inputs.ref }}"
          echo "WHEEL_FILE=$(ls dist/*.whl)" >> $GITHUB_OUTPUT
          echo "TAR_FILE=$(ls dist/*.tar.gz)" >> $GITHUB_OUTPUT

        # Step 4: Upload artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-artifacts
          path: |
            ${{ steps.build.outputs.WHEEL_FILE }}
            ${{ steps.build.outputs.TAR_FILE }}
