name: Bump version

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
        - major
        - minor
        - patch
        - release

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
        # Step 1: Checkout code in the current branch
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for tags history

      # Step 2: Setup uv
      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          pyproject-file: "pyproject.toml"
          cache-dependency-glob: |
            **/pyproject.toml
            **/setup.py

      # Step 3: Install bump-my-version
      - name: Install bump-my-version
        run: |
          uv pip install bump-my-version==1.0.2

      # Step 4: Setup github user
      - name: Setup git user
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      # Step 4: Bump version
      - name: Bump version
        id: bump
        run: |
          echo "previous-version=$(bump-my-version show current_version)" >> $GITHUB_OUTPUT

          bump-my-version bump ${{ inputs.bump-type }} --commit --dry-run
          ([[ $? -gt 0 ]] && echo "bumped=false" || echo "bumped=true") >> $GITHUB_OUTPUT
          echo "current-version=$(bump-my-version show current_version)" >> $GITHUB_OUTPUT

      # Step 4: Check if the version was bumped
      - name: Check
        if: steps.bump.outputs.bumped == 'true'
        run: |
          echo "Version was bumped from ${{ steps.bump.outputs.previous-version }} to ${{ steps.bump.outputs.current-version }}!"
