name: Bump version

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
        - major
        - minor
        - patch
        - release

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
        # Step 1: Checkout code in the current branch
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for tags history

        # Step 2: Bump the current version
      - name: Bump version
        id: bump
        uses: callowayproject/bump-my-version@master
        env:
            BUMPVERSION_COMMIT: true
            BUMPVERSION_COMMIT_ARGS: "--no-verify"
        with:
          args: ${{ inputs.bump-type }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

        # Step 3: Check if the version was bumped
      - name: Check
        if: steps.bump.outputs.bumped == 'true'
        run: |
          echo "Version was bumped from ${{ steps.bump.outputs.previous-version }} to ${{ steps.bump.outputs.current-version }}!"

        # Step 4: Push changes and tags
      - name: Push changes and tags
        if: steps.bump.outputs.bumped == 'true'
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git push
          git push --tags
