name: Generate Diagrams

on:
  workflow_dispatch:  # This allows to manually trigger the workflow

jobs:
  generate-diagrams:
    permissions:
      contents: write # Grant write permissions to the repository in this job only
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base
        pip install pylint==3.2.*

    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v2

    - name: Create directory for diagrams
      run: |
        mkdir -p ./docs/pyreverse

    - name: Generate diagrams with Pyreverse
      run: |
        pyreverse -p PyThermoNDT -o jpg -d ./docs/pyreverse --colorized --max-color-depth 5 --source-roots ./src ./src/pythermondt

    - name: Upload diagrams
      uses: actions/upload-artifact@v4
      with:
        name: diagrams
        path: ./docs/pyreverse/*.jpg

    - name: Commit and Push Diagrams back to the repository
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add ./docs/pyreverse/*.jpg
        git commit -m "Update diagrams" || echo "No changes to commit"
        git push
