name: Generate Diagrams

on:
  workflow_dispatch:

jobs:
  generate-diagrams:
    permissions:
      contents: write
    env:
      CHANGED: false
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base

    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v2

    - name: Create directory for diagrams
      run: |
        mkdir -p ./docs/pyreverse

    - name: Generate Graphviz files with Pyreverse
      run: |
        pyreverse -p PyThermoNDT -o gv -d ./docs/pyreverse --colorized --max-color-depth 5 --source-roots ./src ./src/pythermondt

    - name: Check for New or Modified Files
      id: files-check
      run: |
        # Check if any new .gv files are created or existing .gv files are modified.
        NEW_OR_MODIFIED_FILES=$(git status --porcelain ./docs/pyreverse/*.gv | wc -l)
        if [ "$NEW_OR_MODIFIED_FILES" -eq 0 ]; then
          echo "No new or modified .gv files detected."
          echo "changed=false" >> $GITHUB_ENV
        else
          echo "New or modified .gv files detected."
          echo "changed=true" >> $GITHUB_ENV
        fi
      
    - name: Generate diagrams from Graphviz files
      if: env.CHANGED == 'true'
      run: |
        for file in ./docs/pyreverse/*.gv; do
          dot -Tjpg "$file" -o "${file%.gv}.jpg"
        done
    
    - name: Upload diagrams
      if: env.CHANGED == 'true'
      uses: actions/upload-artifact@v4
      with:
        name: diagrams
        path: ./docs/pyreverse/*.jpg
    
    - name: Commit and Push Diagrams back to the repository
      if: env.CHANGED == 'true'
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add ./docs/pyreverse/*
        git commit -m "Update pyreverse diagrams"
        git push