name: Post-Release Workflow

on:
  release:
    types: [published]

jobs:
  # Job 1: Bump the version in the main branch to the next patch version
  bump-version:
    name: Bump Version to Next Patch
    uses: ./.github/workflows/bump_version.yml
    with:
      bump-type: patch
      ref: main
    secrets:
      WRITE_KEY: ${{ secrets.WRITE_KEY }}

  # Job 2: Publish the package
  publish-package:
    name: Publish the package
    runs-on: ubuntu-latest
    steps:
      - name: Download wheel from github release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get the release tag from the event
          RELEASE_TAG="${{ github.event.release.tag_name }}"

          # Download the wheel file from the release
          gh release download "$RELEASE_TAG" \
            --repo ${{ github.repository }} \
            --pattern "*.whl" \
            --dir ./dist

      - name: Setup uv
        uses: astral-sh/setup-uv@v6.6.1
        with:
          enable-cache: false

      - name: Publish the package
        env:
          UV_PUBLISH_USERNAME: dummy
          UV_PUBLISH_URL: ${{ secrets.PUBLISH_URL }}
          UV_PUBLISH_PASSWORD: ${{ secrets.AZURE_ARTIFACTS_PAT }}
        run: |
          uv publish ./dist/*.whl
