name: PR Checks

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    name: Run Tests
    uses: ./.github/workflows/tests.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}

  quality-checks:
    name: Run Code Quality Checks
    uses: ./.github/workflows/code_ql.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Download coverage data
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: coverage-data-python-*

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
          title: Coverage Report
