name: PR Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Tests
    uses: ./.github/workflows/tests.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}

  lint:
    name: Run Linters
    uses: ./.github/workflows/lint.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
