name: Publish to TestPyPI

on:
  workflow_dispatch:

jobs:
  # Job 1: Build from current branch
  build:
    name: Build Package
    uses: ./.github/workflows/build.yml

  # Job 2: Publish to TestPyPI
  publish:
    name: Publish to TestPyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/pythermondt
    permissions:
      id-token: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          name: build-artifacts
          path: dist/

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
