name: Run Tests
description: 'Reuseable workflow to run all tests for pyThermoNDT'

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        description: 'The branch or tag to test. Defaults to the reference of the workflow trigger'
        type: string
        default: ''
    outputs:
      test_success:
        description: "Whether tests succeeded"
        value: ${{ jobs.test.outputs.success }}

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.set_output.outputs.success }}
    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      # Step 2: Setup uv
      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          pyproject-file: "pyproject.toml"
          cache-dependency-glob: |
            **/pyproject.toml
            **/setup.py

      # Step 3 Sync dependencies if cache hit
      - name: Sync dependencies
        run: |
          uv sync --extra dev --project .

      # Step 4: Run tests
      - name: Run Tests
        run: uv run --project . pytest

      # Step 5: Set Output Based on Test Success
      - id: set_output
        if: success()
        run: echo "success=true" >> $GITHUB_OUTPUT
