# Updates the cache in main branch, because only caches from default branch are available in other branches. ==> allows for faster CI in other branches
name: update-cache

on:
  workflow_dispatch:
  push:
    branches:
      - "main" # Update cache on main branch

jobs:
  build-cache:
    name: Build Cache
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Setup uv
      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          pyproject-file: "pyproject.toml"
          enable-cache: true
          prune-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/setup.py

      # Step 3 Sync dependencies if cache hit
      - if: steps.setup-uv.outputs.cache-hit != 'true'
        name: Sync dependencies
        run: |
          uv pip install .[dev] --torch-backend cpu # Set the backend to CPU to avoid installing cuda dependencies
